<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Fly Go App">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#fafafa">
  <title>Fly Go App</title>
</head>
<body>
  <h1>Hello from Fly</h1>
  <p>{{ if .Region }}<h2>I'm running in the {{.Region}} region</h2>{{end}}</p>
</body>
</html>
